#front
  .row
    .large-5.columns
      %h4
        a social network for music lovers.

      %p

        .homepagetext
          filter videos without the BS...
          %br
          %br
          maintain a video hub for your clique..
          %br
          %br
          add new videos...
          %br
          %br
          discover artists...
          %br
          %br
          know the tour schedule...
    .large-7.columns
      #front2
        %br
        %br
        %br
        = image_tag("musicvid3.JPG")
        %br
