@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic);

#map_canvas
{
  width: 800px;
  height: 400px;
  border: 1px solid black;
  margin-bottom: 15px;
  z-index:0
}

nav {
  z-index:1;
}

#description{
  font-size: 14px;
  font-family: italic;
}

body{
  background: url(VIGNETTE.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

#container{
width: 1200px;
background: url('conback.png');
background-repeat: repeat;
margin: 0 auto;
padding: 40px 40px;
-moz-box-shadow: inset 0 0 10px 10px #888;
-webkit-box-shadow: inset 0 0 10px 10px#888;
box-shadow: inset 0 0 10px 10px #888;
border-radius: 40px;
}

 h2.subheader
{
  text-align: center;
  margin: 0px auto;
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #fff;
  -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

.top-bar
{opacity:0.6;
  height: 50px
}

.button-group li a
{
padding: 2px 14px;
float: right;
color: #00DFFC;
font-size: 25px;
}

.top-bar ul
{float: right;
opacity:.9;
}

.idxpic img{
  max-height: 250px;
  margin: 10px auto;
  border-radius: 30px;
  border: 3px solid grey;
  width: auto;
  box-shadow: 0 0 5px 5px #888;

}

.indexvid
{
  padding: 10px 30px;
  margin: 10px auto;
  width: 400px;
  height: 200px;
  border-radius: 20px;
}

.indexvid img
{
  margin: 5px 20px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  opacity: .5;
}

.main{
  margin-bottom: 10px;
  height: 300px;
  padding: 5px auto;
  font-size: 22px;
  border-bottom: 4px dotted #666666;
  border-radius: 10px 0px 10px 0px;
}

#since-nav
{
  list-style: none;
  width: 100px;
}

#signup
{
  margin: 30px auto;
  width: 650px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#login
{
  margin: 30px auto;
  width: 150px;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#front2 img
{
  border-radius: 50px;
  padding: 5px 5px;
  margin: 10px auto;
  -moz-box-shadow: inset 0 0 5px 5px #888;
  -webkit-box-shadow: inset 0 0 5px 5px#888;
  box-shadow: inset 0 0 5px 5px #888;
}

h4
{font-size: 40px;}

.text{
  float: right;
}

.music_attributes{
  list-style-type: none;
  margin: 10px auto;
  padding: 10px 20px;
}
.main li
{
float: left;
}

p.artistbio
{
width: 800px;
height: 400px;
overflow:scroll;
white-space: pre-wrap;
}

.hide
{
  display: hidden;
}

.shownav
{

}

.show
{
  width: 600px;
  padding: 5px 25px;
  margin: 5px auto;

}
.showimg
{
  width: 400px;
  border-radius: 30px;
}

.description
{
  font-size: 20px;
  width: auto;
  height: 100px;
  padding: 10px 10px;
  margin: 10px auto;
  line-height: 25px;

}

.artistlink
{
  a:link    {color:#000066;}
a:visited {color:#000066;}
}

ul
{
  list-style: none;
}

.homepagetext
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.fancythumb
{
  height: 100px;
  width: 100px;
}


.button_nav_show
{
  background-color: #000000;
  border-radius: 10px;
  padding: 2px 2px;
  margin: 5px auto;
  -moz-box-shadow: 0 0 2px 2px #888;
  -webkit-box-shadow: 0 0 2px 2px#888;
  box-shadow: 0 0 2px 2px #888;
  width: 250px;
  color: #0099cc;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  opacity: .5;
  border: 1px solid black;
  font-size: 20px;
}

.button_nav_cancel
{
  background-color: #990000;
  border-radius: 10px;
  padding: 2px 2px;
  margin: 5px 5px;
  -moz-box-shadow: 0 0 2px 2px #888;
  -webkit-box-shadow: 0 0 2px 2px#888;
  box-shadow: 0 0 2px 2px #888;
  width: 180px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  opacity: .5;
  border: 1px solid black;
  font-size: 20px;
}

.showscrollpics img{
  max-width: 700px;
  margin: auto auto;
  padding: 5px 5px;
  line-height: 800px;
  vertical-align: center;
}

.showBD a{
  color: #0033CC;
  font-size: 22px;
}

#showNavContainer{
height: 200px;
width: 160px;
opacity: .5;
}

#showNavContainer a{
  padding: 2px 2px;
  margin: 5px auto;
  color: #0099cc;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  opacity: .5;
  border: 1px solid black;
  font-size: 26px;
  }

p.songvibes {
font-size: 22px;
color: red;
}

.orbit-container.orbit-stack-on-small{
  max-height: 400px;
  background: url('conback.png');
  -moz-box-shadow: inset 0 0 10px 10px #888;
-webkit-box-shadow: inset 0 0 10px 10px#888;
box-shadow: inset 0 0 10px 10px #888;
}

.orbit-container .orbit-slides-container img {
  height: 400px;
  max-width: 700px;
}


