@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body{
width: 75%;

margin: 0 auto;
background-image: url('background.png');
background-repeat: repeat;
color: #00DFFC;
font-size: 20px;
font-family: 'Varela Round', sans-serif;
}


a:link {color:#008C9E;}      /* unvisited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:visited {color:#008C9E}
a:active {color:#008C9E;}  /* selected link */

/*{color:#000000;}*/

nav {

font-size: 25px;
position: fixed; top: 3px;
background-color: #343838;
margin: 2px 2px;
padding: 2px 4px;
border-radius: 15px;
border-color: #ffffff;
border-style:solid;
border-width: 6px;
width: 90%;
height: 150px;
background-image: url('banner2.jpg')
}

nav ul {
  float: right;
  width: 550px;
}

header {
color: #00DFFC;
}
nav li
{float: left;
  list-style: none;
  padding: 10px 5px;
  width: 150px;
  color: #005F6B;

}

h1 {
  padding: 2px 25px;
  width: 600px;
  float: left;
  font-size: 80px;
  webkit-text-stroke: 4px white;
  color: #00DFFC;
  text-shadow:
       3px 3px 0 #343838,
     -1px -1px 0 #343838,
      1px -1px 0 #343838,
      -1px 1px 0 #343838,
       1px 1px 0 #343838;
}

h2
{
  paddling: 3px 5px;
}


.vid
{
border-color: #005F6B;
border-radius: 10px;
border-style:solid;
width: 501px;
padding: 0 0;
}




.main
{
float: right;
width: 500px;
background-image: url('background.png');
background-repeat: repeat;
height: 325px;
magin: 2px 2px;
padding: 2px 4px;


}

.container{
width: 80%px;
}


li {
list-style: none;
}


button #main
{
  background-image:url('button.png');
  color: #00B4CC;
  height: 40px;
  width: 40px;
}

p.artistbio
{ text-align: left;
  width: 650px;
  float: left;
  font-size: 15px;
  white-space : pre-wrap;
}

#hide
{
  display: hidden;
}

ol
{
  margin: 6px 0;
}

li img
{float: right;
  height: 200px;
  width: 200px;
  padding: 8px 20px;
  border-radius: 15px;
  border-color: #005F6B;
  border-style:solid;
}
.hide{
  display: hidden;
}


.showimg img
{
  height: 300px;
}

.show
{
  width: 850px;
  float: right;
  text-align: left;
