.row
  .large-12.columns
  #musicloop
    - @musics.each do |music|
      .table
      %tr
        .main
          .music_attributes
            .idxpic= image_tag(music.image_url)
            - (c,d) = music.url.split('=',2)
            %td-music.id
            %br
            %td.row Artist:  #{link_to(music.name, music)}
            %br
            %br
            %td.row Song: #{link_to music.song_name.titleize, music.url, :class => "various fancybox.iframe"}
            %br
            %br
            %td.row Description: #{music.description}
            %br
           
          
