.row
  .large-3.columns
    %ul#since-nav
      %li= button_tag 'Biography', :id => 'artist_bio', :class => 'tiny button radius success tiny'
      %li= button_tag 'Events', :id => 'artist_event', :class => 'button radius success tiny' 

.row
  .large-9.columns



